<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatchr</title>
  <script src='https://code.jquery.com/jquery-2.2.0.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <h1>Spotted a bird?</h1>
  <form method="POST" action="/sightings">
  	<label for="bird-type">Type of Bird</label>
    <input id="bird-type" type="text" name="sighting[bird]">
    <label for="location">Location of Sighting:</label>
    <input id="location" type="text" name="sighting[location]">
    <input id="non-demo-form" type="hidden" name="non-demo-form" value="redirect me">
    <input type="submit" value="Create">
  </form>
</body>
</html>

